:root {
  --rp-c-brand: #008989;
  --rp-c-brand-dark: #008989;
  --rp-c-brand-darker: #008989;
  --rp-c-brand-light: #008989;
  --rp-c-brand-lighter: #008989;
}

h1, h2 {
    background: var(--rp-c-brand);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rspress-nav-menu-item {
    font-weight: bold;
    font-size: medium;
}

.rspress-nav-search-button {
    width: 100%;
    height: 35px;
}

.font-semibold {
    color: #008989;
    font-weight: bold;
    font-size: medium;
}
